.form-container {
  align-items: center;
  border: solid 1px red;
  display: flex;
  flex-direction: column;
  height: 91.2%;
  width: 100%;
}

.inputs-form {
  display: flex;
  justify-content: space-between;
  width: 98%;

}

.form-container label {
  display: flex;
  flex-direction: column;
}

.form-container label:nth-child( 2 ) {
  width: 50%;
}

.form-container input, select {
  border: solid black 1px;
}

.form-container button {
  background-color: #036b52;
  margin-top: 50px;
}
