* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

button {
  cursor: pointer;
}

:root {
  font-size: 62.5%;

  --altura-nav-e-buttons: 55px;
}

nav {
  background-color: #036b52;
  display: flex;
  height: var(--altura-nav-e-buttons);
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

nav button {
  color: #f2fffc;
}

.btn-routes button {
  background: #036b52;
  height: var(--altura-nav-e-buttons);
  width: 15rem;
}

.btn-routes button:hover {
  background: #038d6d;
  height: var(--altura-nav-e-buttons);
  width: 15rem;
}

.btn-routes button:focus {
  background: #2fc18c;
  color: #001813;
}


.btn-login button:nth-child( 1 ) {
  background-color: #421981;
  font-size: 1.2rem;
  height: var(--altura-nav-e-buttons);
  width: 15rem;

}

.btn-login button:nth-child( 2 ) {
  background-color: #056cf9;
  height: var(--altura-nav-e-buttons);
  padding-right: 6px;
  width: 7.8rem;

}

.btn-login button:nth-child( 2 ):hover {
  background-color: hsl(215, 90%, 58%);
  height: var(--altura-nav-e-buttons);
  padding-right: 6px;
  width: 7.8rem;

}

