.btn-rm-add {
  border: solid 1px #001813;
  display: flex;
  height: 25.63px;
  justify-content: center;
  width: 76.23px;
}

.btn-rm-add input {
  border: none;
  text-align: center;
}

.btn-rm, .btn-add {
  width: 100px;
}
